@media only screen and (min-width: 360px) and (max-width: 928px) {
    * {
        margin: 0px;
        padding: 0px;
    }
    h1 {
        font-family: 'Parisienne', cursive;
    font-size: 40px;
    margin-top: 15px;
    margin-left: 47px;
    
}
.titulo {
    color: #d4ac0d;
    text-decoration: none;
}
.funciona {
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
    margin-top: 6px;
}
footer {
    background-color:  white;
    text-align: center;
    padding: 10px;
}
.card {
    border: none;
}
.pasador {
    display: none;
}
.card-img-top:hover {
    transform:scale(1.5);transform:scale(1.5);
}
.card-img-top {
    width: 190px;
    margin-left: 90px;
    margin-top: 30px;
}
.card-body {
    text-align: center;
}
.container-fluid {
    margin-left: 140px;
}
.parrafo {
    text-align: center;
    margin: 50px;
    font-size: 15px;
    letter-spacing: 0,5px;
}
.nav-item {
    text-align: center;
    font-family: 'Cormorant SC', serif;
    font-size: 18px;
   
}
#carouselExampleIndicators {
    width: 250px;
    margin: 55px;
}
.index {
    color:  #d4ac0d ;
    width: 50%;
    margin-left: 90px;
    margin-bottom: 50px;
}
.navbar-toggler {
    margin-left: 150px;
    border: none;
}
.pagination {
    margin-left: 90px;
}
.titulo:hover{
    color: #d4ac0d;
}
.h1vestido {
    margin-left: 200px;
    width: 70px;
}
.logos {
    margin-left: 120px;
    margin-bottom: 50px;
    margin-top: 50px;
}
.col-md-4 {
    margin-left: 45%;
    width: 45px;
}
.card-funciona {
    margin-top: 30px;
}
#navbarSupportedContent {
    background-color: white;
}
.container-fluid {
    margin-left: 0px;
    padding: 0px;
    background-image: url(./imagenes/iconos/dorado2.jpg);
}
}




@media only screen and (min-width: 929px) {
    * {
    margin: 0px;
    padding: 0px;
}
h1 {
    text-align: center;
    margin-top: 25px;
    font-family: 'Parisienne', cursive;
    font-weight: bold;
    font-size: 50px;
}
.titulo {
    color: #d4ac0d;
    text-decoration: none;
}
#navbarSupportedContent {
    background-image: url(./imagenes/iconos/dorado2.jpg);
}
.navbar-nav {
    border-color: #d5dbdb ;
    margin-left: 210px;
}
.container-fluid {
    margin: 0px;
    padding: 0px;
}
.funciona {
    font-family: 'Cormorant SC', serif;
    font-size: 20px;
    color: black;
}
.parrafo {
    text-align: center;
    margin: 50px;
    font-size: large;
    letter-spacing: 1px;
}
.index {
    width: 50%;
    margin-left: 350px;
    margin-bottom: 50px;
}
.nav-item {
    font-family: 'Cormorant SC', serif;
    margin-right: 250px;
}
.nav-link {
    text-align: center;
}
footer {
    background-color:   white;
    text-align: center;
    padding: 10px;
}
#carouselExampleIndicators {
    display: none;
    margin-top: 20px;
    margin-left: 40%;
    margin-bottom: 20px;
    width: 250px;
}
.card-img-top:hover {
    transform:scale(1.5);transform:scale(1.5);
}
.card-img-top {
    width: 225px;
    margin-left: 130px;
}
.fotopagtres {
    margin-right: 110px;
}
.card {
    margin-top: 30px;
    text-align: center;
    border: none;
}
.redes {
    margin-top: 5px;
    margin-bottom: 5px;
}
.pasador {
    margin-bottom: 50px;
    margin-top: 50px;
    text-align: center;
}
.efecto:hover {
        -webkit-transform: scale(1.3);transform:scale(1.3);
}
.pagination {
    margin-left: 587px;
}
.titulo:hover{
    color: #d4ac0d;
}
.logos {
    margin-left: 610px;
    margin-bottom: 50px;
}
.card-text {
    margin-top: 20px;
}
.card-funciona {
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 100px;
}
.card-funcionauno {
    margin-left: 700px;
}
.card-funcionados {
    margin-left: 100px;
}
}